
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../embed font/futura-pt-webfont.woff') format('woff');
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #eee;
}

.site-wrapper {
    width: 800px;
    margin: 0 auto; 
}

header,
footer {
    background: linear-gradient(to bottom, white, black); 
    padding: 20px;
    overflow: hidden;
}

header h1 {
    font-family: 'FuturaPT', sans-serif;
    margin-top: 20px;
}

header img {
    width: 120px;
    float: right;
    margin-left: 20px;
}


nav {
    background-color: #000;
    height: 35px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover,
nav a.active {
    border: 2px solid white;
    border-radius: 15px;
}


main {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}


figure {
    margin: 15px 0;
}

figure img {
    max-width: 100%;
    float: left;
    margin: 0 15px 10px 0;
    width: 500px;
    display: block; margin: auto;
}

figcaption {
    font-style: italic;
    font-size: 0.9em;
}


.favorites {
    border: 2px solid white;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
}

.favorites ul {
    margin-left: 20px;
}


audio {
    width: 100%;
    margin-top: 20px;
}

footer {
    text-align: center;
    font-size: 0.9em;
    margin-top: 20px;
}